{% extends "base.html.twig" %}

{% block titre %}(S)lide (O)ut{% endblock %}
{% block contenu %} 
    <div class="container-md">
        <img src="/images/1011918626-Silent_Hill_Quote_2_by_NimbusThunderhead.jpg" class="img-fluid" alt="image d'accueil">
    </div>
        <br><br><br>
    <figure>
    <figcaption>Try me ...</figcaption>
    <audio
        controls autoplay
        src="/sound/Silent_Hill_noise.mp3">
            <code>audio</code> element.
    </audio>
</figure>
    
{% endblock %}